name: CI Checks

on: [pull_request]

jobs:
  check-code-quality:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 12
    - name: Grant permissions to gradlew
      run: chmod +x gradlew
    - name: Run Android Linter
      run: ./gradlew lint
  build:
    
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 12
    - name: Grant permissions to gradlew
      run: chmod +x gradlew
    - name: Build SDK
      run: ./gradlew build
    - name: Run Tests
      id: tests
      run: ./gradlew jacocoTestReport
    - name: Codecov
      uses: codecov/codecov-action@v2.1.0
      with:
        token: ${{ secrets.CODECOV_REPO_UPLOAD_TOKEN }}
        files: Skyflow/build/jacoco/jacoco.xml
        name: codecov-skyflow-android
        verbose: true